.champion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.champion-img {
		max-height: 24vh;
		box-shadow: 0px 0px 5px 0px aliceblue;
		cursor: pointer;
		z-index: 1;
	}

	.champion-title {
		position: absolute;
		font-size: 42px;
		color: aliceblue;
		cursor: pointer;
		padding: 6px 12px;
		border: 2px solid transparent;
		border-radius: 10px;

		background-image: linear-gradient(45deg, #f3ec78, #af4261);

		background-size: 100%;
		background-repeat: repeat;

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
}
